body {
  background-color: saddlebrown;
  color: aliceblue;
}

.navbar-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 30;
}

#headerCarousel {
  width: 100%;
  height: 100%;
}

#headerCarousel .carousel-inner img {
  width: 980px;
  height: 450px;
}

.team-wrapper {
  padding: 40px;
}

.team-wrapper .team-heading {
  padding: 10px;
}

.team-wrapper img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.details-wrapper {
  padding: 40px 40px;
}

.details-wrapper .row {
  padding: 20px;
}

.details-wrapper img {
  width: 100%;
  height: 100%;
}
