body {
    background-color: #6534ff;
    color: aliceblue;
}

.navbar-wrapper {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 30;
}

#headerCarousel {
    width: 100%;
    height: 100%;
    
    .carousel-inner {
        
        img {
            width: 980px;
            height: 450px;
           
            
        }
    }
}
.black-overlay{
     background:  rgba(0,0,5,0.9);
    z-index: 20;
    
}
.team-wrapper{
    padding: 40px;

    
    
    .team-heading{
        padding: 10px;
        margin-bottom:30px;
    }
    img{
        width:200px;
        height:200px;
        margin-bottom: 20px;
    }
}
.details-wrapper{
     padding: 40px 40px;
    background-color: #6534ff;
    
    .row{
        padding: 40px 40px;
        background-color: #131200;
    }
    .col-md-8{
        padding: 20px;
    }
    .row1{
        width: 100%;
    }
    .row2{
        background-color: #070707;
        width: 100%;
    }
    .row3{
        width: 100%;
    }
    
    img{
        width:100%;
        height:100%;
    }
}
footer{
    padding: 20px 40px;
    background-color: #070707;
    a{
        color: #34d1bf;
        &:hover{
            color: white;
            text-decoration: none;
        }
    }
}