//variables

//colors
$bag-color:#6534ff;
$black-color: #070707;
$font-blue:#34d1bf;

body {
    background-color: $bag-color;
    color: aliceblue;
}

.navbar-wrapper {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 30;
    nav{
        background-color: $black-color;
    }
}


#headerCarousel {
    width: 100%;
    height: 100%;
    
    .carousel-inner {
        
        img {
            width: 980px;
            height: 450px;
           
            
        }
    }
}

.team-wrapper{
    padding: 40px;
  
    .team-heading{
        padding: 10px;
        margin-bottom:30px;
    }
    img{
        width:200px;
        height:200px;
        margin-bottom: 20px;
    }
}
.details-wrapper{
     padding: 40px 40px;
    background-color: $bag-color;
    
    .row{
        padding: 40px 40px;
        background-color: beige;
        margin: 20px 0;
        color: $black-color;
    }
    .col-md-8{
        padding: 20px;
    }
    .row1{
        width: 100%;
    }
    .row2{
        background-color: $black-color;
        color: beige;
        width: 100%;
    }
    .row3{
        width: 100%;
    }
    
    img{
        width:100%;
        height:100%;
    }
}
footer{
    padding: 20px 40px;
    background-color: $black-color;
    a{
        color: $font-blue;
        &:hover{
            color: white;
            text-decoration: none;
        }
    }
}